<a href="https://colab.research.google.com/github/NguruNomad/Micro-credential-wint-22/blob/main/day3_loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#For loops

In [1]:
for x in 'cuny' :
  print(x)

c
u
n
y

In [2]:
TVshows = ['star trek', 'game of thrones', 'stranger things']
for shows in TVshows :
  print(shows)

star trek
game of thrones
stranger things

In [3]:
TVshows = ['star trek', 'game of thrones', 'stranger things']
for shows in TVshows :
  print(shows.title()+ ', is my favorite show!')

Star Trek, is my favorite show!
Game Of Thrones, is my favorite show!
Stranger Things, is my favorite show!

In [4]:
NEWshows = []

In [5]:
NEWshows.append('Life')

In [6]:
NEWshows

['Life']

In [7]:
for x in range(10):
  print(x+2)

2
3
4
5
6
7
8
9
10
11

In [8]:
list(range(1,20))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [9]:
list(range(0,20,2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [10]:
numbers = list(range(3,15,2))
print(numbers)

[3, 5, 7, 9, 11, 13]

In [11]:
min(numbers)

3

In [12]:
sum(numbers)

48

In [13]:
max(numbers)

13

In [14]:
rand = [3,4,9,10,11,12,13,22,23]

In [15]:
for numbers in rand:
  print(numbers)

3
4
9
10
11
12
13
22
23

In [16]:
# finds the remainder of the number preceeding the %.
25%3

1

In [17]:

for x in rand:
  if x % 2 == 0:
    print(x)
  else:
    print(x, 'This is an odd number.')

3 This is an odd number.
4
9 This is an odd number.
10
11 This is an odd number.
12
13 This is an odd number.
22
23 This is an odd number.

In [18]:
l2 = [12, 45, 6, 3, 45, 678, 2, 45657]

In [19]:
listSum = 0

for num in l2:
  listSum = listSum + num

print(listSum)

46448

In [20]:
dy = {'k1': 1, 'k2': 2, 'k3': 3, 'k4':4}

In [21]:
for item in dy:
  print(item)

k1
k2
k3
k4

In [22]:
for a,b in dy.items():
  print(a)
  print(b)

k1
1
k2
2
k3
3
k4
4

# While loops

In [33]:
patient = {
    'name' : 'steve',
    'surname' : 'timms',
    'mrn' : '5000873928329',
    'dob' : '01011930'
    }

In [35]:
for x, y in patient.items():
   print('\n' + x.upper())
   print('\n' + y.title())

NAME

Steve

SURNAME

Timms

MRN

5000873928329

DOB

01011930

In [29]:
friends_ages= {
    'nick' : '30',
    'amanda' : '34',
    'john' : '36',
    'haley' : '26'
}

In [30]:
bestfriends = ['nick', 'amanda']
for name in friends_ages.keys():
  print(name.title())

  if name in bestfriends:
    print('Hi ' + name.title() + ', I see you\'re ' + friends_ages[name])

Nick
Hi Nick, I see you're 30
Amanda
Hi Amanda, I see you're 34
John
Haley