<a href="https://colab.research.google.com/github/NguruNomad/Micro-credential-wint-22/blob/main/day3_loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#For loops

In [1]:
for x in 'cuny' :
  print(x)

c
u
n
y

In [4]:
TVshows = ['star trek', 'game of thrones', 'stranger things']
for shows in TVshows :
  print(shows)

Star Trek
Game of Thrones
Stranger Things

In [6]:
TVshows = ['star trek', 'game of thrones', 'stranger things']
for shows in TVshows :
  print(shows.title()+ ', is my favorite show!')

Star Trek, is my favorite show!
Game Of Thrones, is my favorite show!
Stranger Things, is my favorite show!

In [11]:
NEWshows = []

In [30]:
NEWshows.append('Life')

In [31]:
NEWshows

['Golden Girls',
 'The Simpsons',
 'Love Boat',
 'Lone Ranger',
 'Murdock',
 'Twightlight Zone',
 'Jeopardy',
 'Wheel of Fortune',
 'Hollywood Squares',
 'Life']

In [38]:
for x in range(10):
  print(x+2)

2
3
4
5
6
7
8
9
10
11

In [39]:
list(range(1,20))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [44]:
list(range(0,20,2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [51]:
numbers = list(range(3,15,2))
print(numbers)

[3, 5, 7, 9, 11, 13]

In [52]:
min(numbers)

3

In [53]:
sum(numbers)

48

In [54]:
max(numbers)

13

In [56]:
rand = [3,4,9,10,11,12,13,22,23]

In [57]:
for numbers in rand:
  print(numbers)

3
4
9
10
11
12
13
22
23

In [58]:
25%3

1

In [59]:
for x in rand:
  if x % 2 == 0:
    print(x)
  else:
    print(x, 'This is not an even number')

3 This is not an even number
4
9 This is not an even number
10
11 This is not an even number
12
13 This is not an even number
22
23 This is not an even number